html {
    font-size: 100px;
}

#mobileheader {
    flex: 1;
    background: #f6f6f6;
}

#mobileheader header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #108ee9;
    padding-left: 5px;
}

#mobileheader header img {
    height: 50px;
}

#mobileheader header span {
    font-size: 0.25rem;
    vertical-align: top;
    padding-left: 0.1rem;
    color: #108ee9;
}

#mobileheader i {
    position: absolute;
    right: 0.15rem;
    top: 0.13rem;
    font-size: 0.26rem;
    color: #108ee9;
}

.carousel {
    margin-bottom: 15px;
}

.carousel img {
    width: 100%;
}

section {
    background: #f6f6f6;
}

.m_article {
    font-size: 0.14rem;
    padding: 0.1rem 0;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0.15rem;
}

.m_article .m_article_img {
    float: left;
    width: 27%;
    height: 0.7rem;
    overflow: hidden;
    position: relative;
    margin-right: 0.1rem;
}

.m_article .m_article_img img {
    width: 100%;
    display: block;
    min-height: 0.7rem;
}

.m_article .m_article_info {
    overflow: hidden;
    padding-bottom: 0.04rem;
}

.m_article .m_article_info .m_article_title {
    text-align: left;
    font-size: 0.14rem;
    margin-bottom: 0.1rem;
    color: #404040;
    line-height: 0.21rem;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.m_article .m_article_desc .m_article_channel {
    display: inline-block;
    color: rgba(255, 51, 51, 0.9);
    font-size: 0.12rem;
    padding: 0.02rem;
    line-height: 12px;
    margin-right: .1rem;
    background: url(http://img2.cache.netease.com/f2e/wap/common/images/border_red.png) no-repeat;
    background-size: 100% 100%;
}

.m_article .m_article_desc .m_article_time {
    font-size: 0.12rem;
    color: #888;
    display: inline-block;
}

.article {
    text-align: justify;
}

#title {
    margin: 0.16rem 0.16rem 0!important;
    border-bottom: 1px solid #e5e5e5;
}

.article-title {
    margin-bottom: 0.1rem;
}

#title .title {
    font-size: 0.22rem;
    line-height: 0.28rem;
    color: #000;
}

.article-src-time {
    font-size: 0.15rem;
    color: #999;
    padding-bottom: 0.1rem;
}

#content {
    margin: 0.15rem 0.16rem 0.16rem;
}

.article-content .txt {
    font-size: 0.14rem;
}

.article-content .section {
    line-height: 0.28rem;
    margin-bottom: 0.15rem;
    margin-top: 0;
}

.ant-card {
    margin-top: 5px !important;
}

.ant-form-horizontal {
    padding: 0.1rem;
}

.backTop {
    bottom: 0.3rem !important;
    right: 0.4rem !important;
}


/* use css to set position of modal */

.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
}

.vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
    padding-bottom: 0;
    width: 100% !important;
    padding: 10px;
    margin: 0;
}

.footer {
    text-align: center;
    padding-top: 0.2rem;
}